*,*::before{
    box-sizing: border-box;
    margin: 0;
   
}
.edward{background-color: yellow;
display: grid;

}
.uno{
    background-color: red;
}
.dos{
    background-color: green;
}
.tres{
    background-color: hotpink;
}
.osbert {
    color:rebeccapurple;
}